<div class="col-xs-12" ng-init="getDivisionList()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 >
                <strong>行政区划</strong>
                <button class="btn btn-primary btn-sm pull-right"
                        ng-click="exportJson()">导出JSON</button>
            </h4>
        </div>
        <!--<div class="list-group">-->
        <!--<a class="list-group-item" ng-repeat="(country) in area" ng-click="getPorts(cityname)">-->
        <!--{{country}}-->
        <!--</a>-->
        <!--</div>-->
        <!--<abn-tree tree-data="{{area}}"></abn-tree>-->
        <div id="tree"></div>
    </div>
</div>
<div class="push"></div>


<div id="dlgExport" class="modal fade"  visible="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">JSON格式</h4>
            </div>
            <div class="modal-body ">

                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="20" ng-model="json_string"></textarea>
                        </div>
                    </div>
                    <!--<div class="form-group" >-->
                    <!--<label class="col-sm-3 control-label">访问方式</label>-->
                    <!--<div class="col-sm-9" style="height: 32px">-->
                    <!--<input type="checkbox" bs-switch ng-model="select_seed.method"-->
                    <!--data-on-text="遍历" data-off-text="查询"-->
                    <!--data-on-color="primary" data-off-color="primary"-->
                    <!--ng-true-value="'browse'" ng-false-value="'query'">-->
                    <!--</div>-->
                    <!--</div>-->

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
