<div class="col-xs-12" ng-init="getOntology();getDataTypeList();getCategoryList()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><strong>{{ontology.title}}</strong></h4>
            <button class="btn btn-success btn-sm pull-right"
                    ng-click="showOntologyTitleDialog()">编辑</button>
        </div>
        <div class="panel-body">
            <p>
                {{ontology.description}}
                <button class="btn btn-success btn-sm pull-right"
                        ng-click="showOntologyDescriptionDialog()">编辑</button>
            </p>
            <p>
                {{ontology.category}}
                <button class="btn btn-success btn-sm pull-right"
                        ng-click="showOntologyCategoryDialog()">更改</button>
            </p>
        </div>
        <table class="table table-hover">
            <tbody>
                <th>
                    <button class="btn btn-success btn-sm pull-right"
                            ng-click="showMemberDialog(null)">创建</button>
                </th>
                <tr ng-repeat="member in ontology.members">
                    <td valign="bottom" style="width:250px">
                        <h7 class="text-left">{{member.title}}</h7>
                    </td>

                    <td valign="bottom" style="width:250px">
                        <h7 class="text-left">{{datatypes[member.type].name}}</h7>
                    </td>

                    <td class="text-right text-nowrap">
                        <button class="btn btn-xs btn-success text-left"
                                ng-click="showMemberDialog(member.id)">编辑</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="push"></div>


<div id="dlgMember" class="modal fade"  visible="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">名称</label>
                        <div  class="col-sm-9">
                            <input class="form-control" ng-model="select_member.title">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">数据类型</label>
                        <div  class="col-sm-9">
                            <select class="form-control"
                                    ng-options="dt.id as dt.name for (id, dt) in datatypes"
                                    ng-model="select_member.type">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <!--<select class="form-control" ng-options="t for t in member_type" ng-model="member.type">-->
                        <!--<option value=""></option>-->
                    <!--</select>-->

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"
                        ng-show="select_member.id != null" ng-click="deleteMember(select_member.id)">删除</button>
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"
                        ng-show="select_member.id == null" ng-click="createMember()">创建</button>
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"
                        ng-show="select_member.id != null" ng-click="updateMember()">更新</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div id="dlgOntologyTitle" class="modal fade"  visible="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">编辑</h4>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">标题</label>
                        <div  class="col-sm-9">
                            <input class="form-control" ng-model="new_title">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"
                        ng-click="updateOntologyTitle()">更新</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div id="dlgOntologyDescription" class="modal fade"  visible="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">编辑</h4>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">描述</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3" ng-model="new_description"></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"
                        ng-click="updateOntologyDescription()">更新</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div id="dlgOntologyCategory" class="modal fade"  visible="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">编辑</h4>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal">


                    <div class="form-group">
                        <label class="col-sm-3 control-label">新类别</label>
                        <div  class="col-sm-9">
                            <select class="form-control"
                                    ng-options="category.id as category.name for (id, category) in category_list"
                                    ng-model="new_category">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"
                        ng-click="updateOntologyCategory()">更新</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>


